doctype html
html(lang="es")
	head
		title  Desarmaduria San Andres - Official Webpage
		link(rel="stylesheet" href="/css/animate.css")
		link(rel="stylesheet" href="/css/style.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	body
		//Menu Superior y Logo Empresa
		div(class="container-fluid")
			div(class="container navbar navbar-top")
				div(class="row")
					div(class="col-sx-3 col-sm-3 col-lg-3 col-md-3")
						a(href="#") 
							img(src="/img/logo/logo.png" alt="logotipoemp")
					div(class="col-lg-9 col-md-9" style="padding-top:2em")
						nav(class="nav navbar-right")
							ul(class="nav nav-pills")
								li(role="presentarion" class="active") 
									a(href="#home")
										i(class="fa fa-home") &nbsp;Inicio
								li(role="presentarion" class="active" style="padding-left:1em;") 
									a(href="#nosotros")
										i(class="fa fa-twitter") &nbsp;Nosotros
								li(role="presentarion" class="active" style="padding-left:1em;") 
									a(href="#home")
										i(class="fa fa-car") &nbsp;Vehiculos
								li(role="presentarion" class="active" style="padding-left:1em;") 
									a(href="#home")
										i(class="fa fa-cog") &nbsp;Repuestos
								li(role="presentarion" class="active" style="padding-left:1em;") 
									a(href="#contacto")
										i(class="fa fa-phone") &nbsp;Contactenos

		//Slider
		div(class="row fondoblanco" id="home")
			div(class="container fondoblanco")
				div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
					//Indicators
					ol(class="carousel-indicators")
						li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
						li(data-target="#carousel-example-generic" data-slide-to="1")
						li(data-target="#carousel-example-generic" data-slide-to="2")
						li(data-target="#carousel-example-generic" data-slide-to="3")
					//Wraper for slides
					div(class="carousel-inner" role="listbox")
						div(class="item active")
							img(src="/img/sliders/slider1.jpg" alt="logotipoemp")
							div(class="carousel-caption" style="color:#000000")
								h1 Bienvenidos
						div(class="item")
							img(src="/img/sliders/slider2.jpg" alt="logoa")
							div(class="carousel-caption")
								h1 Tenemos gran variedad de repuestos para su vehiculo
								p
						div(class="item")
							img(src="/img/sliders/slider3.jpg" alt="logob")
							div(class="carousel-caption")
								h1 Y a un precio conveniente para su bolsillo
								p
						div(class="item")
							img(src="/img/sliders/slider4.jpg" alt="logoc")
							div(class="carousel-caption")
								h1 presione VEHICULOS y REPUESTOS para ver el listado
								p
					//Controls
					a(class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev")
						span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
						span(class="sr-only") Siguiente
					a(class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next")
						span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
						span(class="sr-only") Anterior

		//Servicios Otorgados
		div(class="container-fluid fondoblanco" id="nosotros" style="padding-top:1em; padding-bottom:2em")
			div(class="container")
				div(class="row")
					div(class="col-md-12 col-lg-12")
						h2 Busca y Encuentra con nosotros
						p Encuentra Tu Vehiculo Usado - En Desarme o simplemente el repuesto que estas buscando a continuacion:
					//Servicio 1
					div(class="col-lg-4 col-md-4 clearfix")
						div(class="thumbnail")
							//Imagen de Servicio 1
							img(src="img/services/Venta.jpg" alt="" class="img-circle")
							div(class="caption")
								h3(class="text-center") Venta de Automoviles
								p(class="text-justify") Encuentra con nosotros los mejores precios de autos usados, de todas las marcas. Has clic en el boton para revisar el listado de Vehiculos a Disposicion y si te interesa alguna no dudes en Contactarnos.
								p(class="text-center")
									a(a href="#" class="btn btn-primary" role="button") Ver Listado de Vehiculos
					//Servicio 2
					div(class="col-lg-4 col-md-4 clearfix")
						div(class="thumbnail")
							//Imagen de Servicio 1
							img(src="img/services/Desarme.jpg" alt="" class="img-circle")
							div(class="caption")
								h3(class="text-center") Desarme de Vehiculos
								p(class="text-justify") Revise nuestra amplia galería de fotos con los últimos vehículos ingresados a desarme, el REPUESTO que usted busca podría estar DISPONIBLE y operativo, en alguno de los modelos. Si te interesa alguna no dudes en Contactarnos.
								p(class="text-center")
									a(a href="#" class="btn btn-primary" role="button") Vehiculos en Desarme
					//Servicio 3
					div(class="col-lg-4 col-md-4 clearfix")
						div(class="thumbnail")
							//Imagen de Servicio 1
							img(src="img/services/Piesas.jpg" alt="" class="img-circle")
							div(class="caption")
								h3(class="text-center") Venta de Repuestos
								p(class="text-justify") Todos los repuestos origianles para tu vehículo los encentras acá. Tenemos en venta piezas de repuestos a precios asequibles que se diferencian de los precios de otras empresas. Si te interesa alguna no dudes en Contactarnos.
								p(class="text-center")
									a(a href="#" class="btn btn-primary" role="button") Repuestos Disponibles
		//Contacto
		div(class="container-fluid fondocontacto" style="padding-top:1em; padding-bottom:2em" id="contacto")
			div(class="container letrasblancas")
				div(class="row")
					div(class="col-md-12 col-lg-12")
						strong
							h3 Contactenos
						strong
							p Profesionalismo y Disposicion al servicio de la IV Región
						div(class="col-lg-6")
							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3434.215624121771!2d-71.20853177538817!3d-30.599680773039236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968e4aa789f01175%3A0x4bbb5a799821e31b!2sLord+Cochrane+495%2C+Ovalle%2C+Regi%C3%B3n+de+Coquimbo%2C+Chile!5e0!3m2!1ses-419!2s!4v1453749068354" width="400" height="300" frameborder="0" style="border:0" allowfullscreen)
						div(class="col-lg-6")
							strong
								h2 Desarmaduria San Andres
							strong
								p Lord Cochrane N°495 - Ovalle IV Region
							strong
								p Fonos de Contacto: +56 9 00000000- +56 9 00000000
							strong
								p Email: desarmaduria.sanandres@gmail.com
		//Pie de Pagina
		div(class="container-fluid" style="padding-top:2em; padding-bottom:2em; background-color:#000000")
			div(class="container letrasblancas text-center")
				h5 Pagina Web en Desarollo - Webpage in Development
				h5 Copyright 2015 - Developed by The VaroX®
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")