doctype html
html(lang="es")
	head
		title  Desarmaduria San Andres - Official Webpage
		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
	body
		//Menu Superior
		div(class="container-fluid")
			div(class="row")
				div(class="col-md-12 well")
					h1(class="animate fadeInDown") Hola Mundo
		//Slider
		//Servicios Otorgados
		//Contacto