doctype html
html(lang="es")
	head
		title  Desarmaduria San Andres - Listado de Vehiculos
		link(rel="stylesheet" href="/css/animate.css")
		link(rel="stylesheet" href="/css/style.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	body
		//Menu Superior y Logo Empresa
		div(class="container-fluid")
			div(class="container navbar navbar-fixed-top")
				div(class="row")
					div(class="col-lg-4 col-md-4")
						a(href="#") 
							img(src="/img/logo/logo.png" alt="logotipoemp")
					div(class="col-lg-8 col-md-8" style="padding-top:2em")
						nav(class="nav navbar-right")
							ul(class="nav nav-pills")
								li(role="presentarion" class="active") 
									a(href="#home")
										i(class="fa fa-home") &nbsp;Inicio
								li(role="presentarion" class="active") 
									a(href="#nosotros")
										i(class="fa fa-twitter") &nbsp;nosotros
								//li(role="presentarion" class="active") 
									a(href="#home")
										i(class="fa fa-car") &nbsp;Vehiculos
								//li(role="presentarion" class="active") 
									a(href="#home")
										i(class="fa fa-cog") &nbsp;Repuestos
								li(role="presentarion" class="active") 
									a(href="#contacto")
										i(class="fa fa-phone") &nbsp;Contactenos
		//Contenido de la Pagina
		div(class="container-fluid")
			div(class="container")
				div(class="col-md-5")
					img(src="imagen1" alt="imagen1")
				div(class="col-md-7")
					h1 Titulo(titulo)
					h3 Descripcion del Producto
					p Menssaje de descripcion